@import url(normalize.css);
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 80, ../scss/main2.scss */
html,
button,
input,
select,
textarea {
  color: white;
}

/* line 84, ../scss/main2.scss */
body {
  font-size: 1em;
  line-height: 1.4;
}
@media (min-width: 1850px) {
  /* line 84, ../scss/main2.scss */
  body {
    font-size: 1.5em;
  }
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
/* line 98, ../scss/main2.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 103, ../scss/main2.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 112, ../scss/main2.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
/* line 125, ../scss/main2.scss */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 133, ../scss/main2.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 143, ../scss/main2.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
/* line 151, ../scss/main2.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 161, ../scss/main2.scss */
nav ul {
  margin: 0;
  padding: 0;
  border: none;
  display: inline;
}

/* line 167, ../scss/main2.scss */
a {
  color: inherit;
  text-decoration: none;
}

/* line 172, ../scss/main2.scss */
html * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 179, ../scss/main2.scss */
body {
  background-image: url(/img/fabric.jpg);
}

/* line 183, ../scss/main2.scss */
header {
  z-index: 9;
}
/* line 186, ../scss/main2.scss */
.works header.pageheader {
  height: 24em;
  *height: 21em;
  background-image: url(/img/backtop_abl.jpg);
  padding-top: 2.625em;
}
/* line 197, ../scss/main2.scss */
header figure, header img {
  display: inline;
  float: left;
}
/* line 202, ../scss/main2.scss */
header nav {
  font-family: "OstrichSansBlack", sans-serif;
  line-height: 1.3125em;
  float: right;
  padding-top: 1em;
}
/* line 208, ../scss/main2.scss */
header nav li {
  color: #ff8800;
}
/* line 211, ../scss/main2.scss */
header nav li a {
  *color: #ff8800;
}
/* line 215, ../scss/main2.scss */
.textshadow header nav li {
  color: white;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

/* line 228, ../scss/main2.scss */
#main header h1 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-family: "OstrichSansBold", sans-serif;
  font-size: 3em;
  line-height: 0.9em;
  color: #ff8800;
  width: auto;
  border-bottom: 5px double #ff8800;
}
/* line 240, ../scss/main2.scss */
#main header .sinopse {
  color: #eeeeee;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
  font-size: 0.8125em;
  line-height: 1.5em;
}
/* line 246, ../scss/main2.scss */
#main header .sinopse:first-letter {
  float: left;
  font-size: 5.5em;
  font-family: "OstrichSansBold", sans-serif;
  line-height: 0.5em;
  padding-top: 0.15em;
  padding-right: 0.07em;
  padding-left: 0.05em;
}
/* line 257, ../scss/main2.scss */
#main header img {
  margin-left: 3em;
  margin-top: -6.5em;
}
/* line 262, ../scss/main2.scss */
#main header .dadosTec {
  font-family: "Georgia", serif;
  font-style: italic;
  font-size: 0.625em;
  line-height: 1.4em;
  color: #1abcbd;
  margin-top: -6.5em;
}
/* line 270, ../scss/main2.scss */
#main header .dadosTec h4 {
  text-transform: uppercase;
  font-style: normal;
}
/* line 275, ../scss/main2.scss */
#main header .dadosTec a {
  color: #55e7e8;
  text-decoration: underline;
}
/* line 279, ../scss/main2.scss */
#main header .dadosTec a:hover {
  color: white;
}

/* line 287, ../scss/main2.scss */
.inline {
  display: inline;
}
/* line 290, ../scss/main2.scss */
.inline li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 7.5em;
}

/* line 298, ../scss/main2.scss */
.content {
  padding: 0 10%;
}

/* line 302, ../scss/main2.scss */
.g1d2 {
  float: left;
  width: 50%;
}

/* line 306, ../scss/main2.scss */
.g1d3 {
  float: left;
  width: 33.33333%;
}

/* line 310, ../scss/main2.scss */
.g1d9 {
  float: left;
  width: 11.11111%;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
/* line 323, ../scss/main2.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 331, ../scss/main2.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 342, ../scss/main2.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 351, ../scss/main2.scss */
.visuallyhidden, header hgroup {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 368, ../scss/main2.scss */
.visuallyhidden.focusable:active, header hgroup.focusable:active,
.visuallyhidden.focusable:focus,
header hgroup.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 381, ../scss/main2.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 398, ../scss/main2.scss */
.clearfix:before, #main header:before,
.clearfix:after,
#main header:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 403, ../scss/main2.scss */
.clearfix:after, #main header:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 412, ../scss/main2.scss */
.clearfix, #main header {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 437, ../scss/main2.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 445, ../scss/main2.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 449, ../scss/main2.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 453, ../scss/main2.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 463, ../scss/main2.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 468, ../scss/main2.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 473, ../scss/main2.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 478, ../scss/main2.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 482, ../scss/main2.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 492, ../scss/main2.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 498, ../scss/main2.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
