@import url(normalize.css);
@import url(stylesheet.css);
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Color styles
   ========================================================================== */
/* ==========================================================================
   Typography Styles & Sizes
   ========================================================================== */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 36, ../scss/main4.scss */
html {
  min-height: 100%;
  *height: 100%;
}

/* line 45, ../scss/main4.scss */
html,
button,
input,
select,
textarea {
  color: #666666;
}

/* line 49, ../scss/main4.scss */
body {
  font-size: 1em;
  line-height: 1.4;
  font-family: sans-serif;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
/* line 61, ../scss/main4.scss */
::-moz-selection {
  background: #ff8800;
  text-shadow: none;
}

/* line 66, ../scss/main4.scss */
::selection {
  background: #ff8800;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 75, ../scss/main4.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
/* line 88, ../scss/main4.scss */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 96, ../scss/main4.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 106, ../scss/main4.scss */
textarea {
  resize: vertical;
}

/* line 110, ../scss/main4.scss */
a {
  text-transform: none;
  text-decoration: none;
  color: inherit;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
/* line 119, ../scss/main4.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 130, ../scss/main4.scss */
body {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  *height: 100%;
  color: gray;
}

/* line 138, ../scss/main4.scss */
header {
  width: 90%;
  background-color: #ff8800;
}

/* line 143, ../scss/main4.scss */
.main {
  position: relative;
  display: none;
  width: 100%;
  height: 50%;
  text-align: center;
  overflow: hidden;
}
/* line 151, ../scss/main4.scss */
.main .w1, .main .w2, .main .w3, .main .w4 {
  display: inline-block;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 160, ../scss/main4.scss */
.main .w1 {
  position: relative;
  top: 105px;
  left: 165px;
  width: 350px;
  height: 350px;
  background-color: red;
  overflow: hidden;
}
/* line 186, ../scss/main4.scss */
.main .w2 {
  width: 250px;
  height: 250px;
  position: relative;
  top: -127px;
  left: 114px;
  background-color: lightCoral;
}
/* line 195, ../scss/main4.scss */
.main .w3 {
  width: 260px;
  height: 260px;
  position: relative;
  top: 130px;
  left: -22px;
  background-color: lightBlue;
}
/* line 204, ../scss/main4.scss */
.main .w4 {
  position: relative;
  top: -70px;
  left: -130px;
  width: 350px;
  height: 350px;
  background-color: orange;
}

/* line 235, ../scss/main4.scss */
▼
▼
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 243, ../scss/main4.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 254, ../scss/main4.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 263, ../scss/main4.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 280, ../scss/main4.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 293, ../scss/main4.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 310, ../scss/main4.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 315, ../scss/main4.scss */
.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 324, ../scss/main4.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 349, ../scss/main4.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 357, ../scss/main4.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 361, ../scss/main4.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 365, ../scss/main4.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 375, ../scss/main4.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 380, ../scss/main4.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 385, ../scss/main4.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 390, ../scss/main4.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 394, ../scss/main4.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 404, ../scss/main4.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 410, ../scss/main4.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
