@import url(normalize.css);
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Color styles
   ========================================================================== */
/* ==========================================================================
   Typography Styles & Sizes
   ========================================================================== */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 33, ../scss/main2.scss */
html {
  min-height: 100%;
  *height: 100%;
}

/* line 42, ../scss/main2.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 46, ../scss/main2.scss */
body {
  font-size: 1em;
  line-height: 1.4;
  font-family: sans-serif;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
/* line 58, ../scss/main2.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 63, ../scss/main2.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 72, ../scss/main2.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
/* line 85, ../scss/main2.scss */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 93, ../scss/main2.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 103, ../scss/main2.scss */
textarea {
  resize: vertical;
}

/* line 107, ../scss/main2.scss */
a {
  text-transform: none;
  text-decoration: none;
  color: inherit;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
/* line 116, ../scss/main2.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 127, ../scss/main2.scss */
body {
  background-image: url(/img/front1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  *height: 100%;
}
/* line 134, ../scss/main2.scss */
body:before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  z-index: 999;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
}

/* line 153, ../scss/main2.scss */
header img {
  height: 3.5em;
}
/* line 157, ../scss/main2.scss */
header .lang {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.6875em;
  color: #b3b3b3;
  padding: 0.84615em 10.15385em 0 0;
}
/* line 164, ../scss/main2.scss */
header .lang a {
  color: #b3b3b3;
}
/* line 167, ../scss/main2.scss */
header .lang a:hover {
  color: #666666;
}

/* line 175, ../scss/main2.scss */
.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5em 10em;
  margin: 0;
  font-size: 0.875em;
  font-weight: bold;
  color: #666666;
  background-color: #f2f2f2;
  background-color: rgba(242, 242, 242, 0);
}
/* line 187, ../scss/main2.scss */
.nav li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding-right: 2em;
  vertical-align: baseline;
}
/* line 194, ../scss/main2.scss */
.nav li.trabalhos {
  padding-right: 0;
}
/* line 198, ../scss/main2.scss */
.nav li a {
  color: #666666;
}
/* line 201, ../scss/main2.scss */
.nav li a:hover {
  color: #669900;
}

/* line 209, ../scss/main2.scss */
.sublist {
  display: inline;
  margin: 0;
  padding-left: 2em;
}
/* line 214, ../scss/main2.scss */
.sublist li {
  font-weight: normal;
}
/* line 217, ../scss/main2.scss */
.sublist li a {
  color: gray;
  text-transform: lowercase;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
/* line 245, ../scss/main2.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 253, ../scss/main2.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 264, ../scss/main2.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 273, ../scss/main2.scss */
.visuallyhidden, header hgroup, header h1, header h2 {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 290, ../scss/main2.scss */
.visuallyhidden.focusable:active, header hgroup.focusable:active, header h1.focusable:active, header h2.focusable:active,
.visuallyhidden.focusable:focus,
header hgroup.focusable:focus,
header h1.focusable:focus,
header h2.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 303, ../scss/main2.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 320, ../scss/main2.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 325, ../scss/main2.scss */
.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 334, ../scss/main2.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 359, ../scss/main2.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 367, ../scss/main2.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 371, ../scss/main2.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 375, ../scss/main2.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 385, ../scss/main2.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 390, ../scss/main2.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 395, ../scss/main2.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 400, ../scss/main2.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 404, ../scss/main2.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 414, ../scss/main2.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 420, ../scss/main2.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
