@import url(normalize.css);
@import url(stylesheet.css);
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Color styles
   ========================================================================== */
/* ==========================================================================
   Typography Styles & Sizes
   ========================================================================== */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 35, ../scss/main3.scss */
html {
  min-height: 100%;
  *height: 100%;
}

/* line 44, ../scss/main3.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 48, ../scss/main3.scss */
body {
  font-size: 1em;
  line-height: 1.4;
  font-family: sans-serif;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
/* line 60, ../scss/main3.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 65, ../scss/main3.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 74, ../scss/main3.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
/* line 87, ../scss/main3.scss */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 95, ../scss/main3.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 105, ../scss/main3.scss */
textarea {
  resize: vertical;
}

/* line 109, ../scss/main3.scss */
a {
  text-transform: none;
  text-decoration: none;
  color: inherit;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
/* line 118, ../scss/main3.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 129, ../scss/main3.scss */
body {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  *height: 100%;
  color: gray;
}

/* line 137, ../scss/main3.scss */
header {
  padding: 0.5em 15%;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 0.9375em;
  font-weight: bold;
  height: 5em;
  line-height: 4em;
}
/* line 151, ../scss/main3.scss */
header .logo {
  padding-right: 5%;
}
/* line 154, ../scss/main3.scss */
header .logo img {
  height: 4em;
}
/* line 159, ../scss/main3.scss */
header .lang {
  float: right;
  font-size: 0.86667em;
  font-weight: normal;
}

/* line 167, ../scss/main3.scss */
.nav {
  display: inline;
}
/* line 170, ../scss/main3.scss */
.nav li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  position: relative;
}
/* line 176, ../scss/main3.scss */
.nav li a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding-right: 2em;
}
/* line 182, ../scss/main3.scss */
.nav li a:hover {
  color: red;
}
/* line 186, ../scss/main3.scss */
.nav li a span {
  position: absolute;
  display: block;
  width: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid red;
  -webkit-transition: width .2s ease-out;
  -moz-transition: width .2s ease-out;
  -o-transition: width .2s ease-out;
  -ms-transition: width .2s ease-out;
  transition: width .2s ease-out;
}
/* line 197, ../scss/main3.scss */
.nav li a:hover span {
  width: 100%;
  -webkit-transition: width .4s ease-out;
  -moz-transition: width .4s ease-out;
  -o-transition: width .4s ease-out;
  -ms-transition: width .4s ease-out;
  transition: width .4s ease-out;
}
/* line 208, ../scss/main3.scss */
.nav .sublist {
  display: inline;
  margin: 0;
  padding: 0;
  border-bottom: none;
}
/* line 214, ../scss/main3.scss */
.nav .sublist li {
  font-weight: normal;
}
/* line 217, ../scss/main3.scss */
.nav .sublist li a {
  text-transform: lowercase;
}

/* line 224, ../scss/main3.scss */
.main {
  position: relative;
  display: block;
  width: 100%;
  height: 50%;
  text-align: center;
  overflow: hidden;
}
/* line 232, ../scss/main3.scss */
.main .w1, .main .w2, .main .w3, .main .w4 {
  display: inline-block;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 241, ../scss/main3.scss */
.main .w1 {
  position: relative;
  top: 105px;
  left: 165px;
  width: 350px;
  height: 350px;
  background-color: red;
  overflow: hidden;
}
/* line 267, ../scss/main3.scss */
.main .w2 {
  width: 250px;
  height: 250px;
  position: relative;
  top: -127px;
  left: 114px;
  background-color: lightCoral;
}
/* line 276, ../scss/main3.scss */
.main .w3 {
  width: 260px;
  height: 260px;
  position: relative;
  top: 130px;
  left: -22px;
  background-color: lightBlue;
}
/* line 285, ../scss/main3.scss */
.main .w4 {
  position: relative;
  top: -70px;
  left: -130px;
  width: 350px;
  height: 350px;
  background-color: orange;
}

/* line 316, ../scss/main3.scss */
▼
▼
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 324, ../scss/main3.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 335, ../scss/main3.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 344, ../scss/main3.scss */
.visuallyhidden, header hgroup, header h1, header h2 {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 361, ../scss/main3.scss */
.visuallyhidden.focusable:active, header hgroup.focusable:active, header h1.focusable:active, header h2.focusable:active,
.visuallyhidden.focusable:focus,
header hgroup.focusable:focus,
header h1.focusable:focus,
header h2.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 374, ../scss/main3.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 391, ../scss/main3.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 396, ../scss/main3.scss */
.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 405, ../scss/main3.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 430, ../scss/main3.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 438, ../scss/main3.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 442, ../scss/main3.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 446, ../scss/main3.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 456, ../scss/main3.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 461, ../scss/main3.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 466, ../scss/main3.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 471, ../scss/main3.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 475, ../scss/main3.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 485, ../scss/main3.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 491, ../scss/main3.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
